<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Member Info</title>

    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/headerstyles.css">
    <link rel="stylesheet" href="/css/footerstyles.css">
</head>
<body>
<!--header-->
<header class="header" th:replace="~{fragments/header :: header}"></header>

<!-- Member Info Form -->
<div class="info-box">
    <h2>Member Info</h2>
    <form th:action="@{/members/info/update}" th:object="${requestDto}" method="post">

        <!-- Hidden ID Field -->
        <input type="hidden" th:field="*{id}">

        <div>
            <input id="info-username" th:value="${responseDto.username}" type="text" readonly>
            <label for="info-username">Username</label>
        </div>

        <div>
            <input id="info-email" th:field="*{email}" type="email" >
            <label for="info-email">Email</label>
        </div>

        <div>
            <input id="info-phone" th:field="*{phone}" type="text" >
            <label for="info-phone">Phone</label>
        </div>

        <div>
            <input id="info-created-at" th:value="${responseDto.createdAt}" type="text" readonly>
            <label for="info-created-at">Created At</label>
        </div>

        <div>
            <input id="info-updated-at" th:value="${responseDto.updatedAt}" type="text" readonly>
            <label for="info-updated-at">Updated At</label>
        </div>

        <button type="submit" style="background: green;">Save</button>


        <div th:if="${errorMessage}" style="color: red;">
            <p th:text="${errorMessage}">Error message here</p>
        </div>

    </form>

    <!--password 수정 페이지-->
    <form th:action="@{/members/pw-update}" method="get">
        <button type="submit" style="background: dodgerblue;">비밀번호 수정</button>
    </form>

</div>


<!--footer-->
<footer class="footer" th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>
