<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Member Info</title>

    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/headerstyles.css">
    <link rel="stylesheet" href="/css/footerstyles.css">
</head>
<body>
<!--header-->
<header class="header" th:replace="~{fragments/header :: header}"></header>

<!-- Member Info Form -->
<div class="info-box">
    <h2>Member Info</h2>
    <form th:action="@{/members/info}" th:object="${responseDto}" method="post">
        <div>
            <input id="info-username" th:field="*{username}" type="text" required="" readonly>
            <label for="info-username">Username</label>
        </div>

        <div>
            <input id="info-email" th:field="*{email}" type="email" required="" readonly>
            <label for="info-email">Email</label>
        </div>

        <div>
            <input id="info-phone" th:field="*{phone}" type="text" required="" readonly>
            <label for="info-phone">Phone</label>
        </div>

        <div>
            <input id="info-created-at" th:field="*{createdAt}" type="text" required="" readonly>
            <label for="info-created-at">Created At</label>
        </div>

        <div>
            <input id="info-updated-at" th:field="*{updatedAt}" type="text" required="" readonly>
            <label for="info-updated-at">Updated At</label>
        </div>

    </form>


    <form th:action="@{/members/info/update}" method="get">
        <button type="submit" style="background: dodgerblue;">Update</button>
    </form>

    <form th:action="@{/members/delete}" method="post">
        <button type="submit" style="background: red;">Delete</button>
    </form>

</div>

<!--footer-->
<footer class="footer" th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>
