<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Join</title>
    <link rel="stylesheet" href="/css/join-styles.css">
    <link rel="stylesheet" href="/css/header-styles.css">
    <link rel="stylesheet" href="/css/footer-styles.css">
</head>
<body>
<!--header-->
<header class="header" th:replace="~{fragments/header :: header}"></header>


<!--Join Form-->
<div class="join-box">
    <h2>Join</h2>
    <form th:action="@{/members/join}" th:object="${joinForm}" method="post">
        <div>
            <input id="join-username" th:field="*{username}" type="text" required="">
            <label for="join-username">Username</label>
            <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}" style="color: red;"></div>
        </div>

        <div>
            <input id="join-password" th:field="*{password}" type="password" required="">
            <label for="join-password">Password</label>
            <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color: red;"></div>
        </div>

        <div>
            <input id="join-password-check" th:field="*{passwordCheck}" type="password" required="">
            <label for="join-password-check">Password Check</label>
            <div th:if="${#fields.hasErrors('passwordCheck')}" th:errors="*{passwordCheck}" style="color: red;"></div>
        </div>

        <div>
            <input id="join-email" th:field="*{email}" type="email" required="">
            <label for="join-email">Email</label>
            <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color: red;"></div>
        </div>

        <div>
            <input id="join-phone" th:field="*{phone}" type="text" required="">
            <label for="join-phone">Phone</label>
            <div th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" style="color: red;"></div>
        </div>

        <div>
            <button type="submit">Submit</button>
        </div>

        <div th:if="${errorMessage}" style="color: red;">
            <p th:text="${errorMessage}">Error message here</p>
        </div>
    </form>
</div>

<!--footer-->
<footer class="footer" th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>
