<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 수정</title>

    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/headerstyles.css">
    <link rel="stylesheet" href="/css/footerstyles.css">
</head>
<body>
<!--header-->
<header class="header" th:replace="~{fragments/header :: header}"></header>

<!-- Password Update Form -->
<div class="info-box">
    <h2>비밀번호 수정</h2>
    <form th:action="@{/members/pw-update}" th:object="${requestDto}" method="post">

        <!-- Hidden ID Field -->
        <input type="hidden" th:field="*{id}">

        <div>
            <input id="current-password" th:field="*{currentPassword}" type="password" required>
            <label for="current-password">현재 비밀번호</label>
        </div>

        <div>
            <input id="new-password" th:field="*{password}" type="password" required>
            <label for="new-password">새 비밀번호</label>
        </div>

        <div>
            <input id="confirm-password" th:field="*{passwordCheck}" type="password" required>
            <label for="confirm-password">새 비밀번호 확인</label>
        </div>

        <div th:if="${errorMessage}" style="color: red;">
            <p th:text="${errorMessage}">Error message here</p>
        </div>

        <button type="submit" style="background: green;">비밀번호 수정</button>
    </form>
</div>

<!--footer-->
<footer class="footer" th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>
