<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>

    <link rel="stylesheet" href="/css/footer-styles.css">
</head>
<body>


<footer th:fragment="footer">
    <div class="footer-container">
        <p>Powered by Kim Jin Yeung</p>

        <!--GitHub-->
        <a href="https://github.com/yashin20/TaskApp" target="_blank" class="github-icon">
            <img src="/img/github-icon.png" alt="GitHub" />
        </a>

        <!--Phone-->
        <div class="contact-info">
            <i class="phone-icon"></i>
            <i class="phone-number"> [Phone Number] </i>
        </div>
    </div>

</footer>


</body>
</html>