<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
    <link rel="stylesheet" href="/css/headerstyles.css">
</head>
<body>
<header th:fragment="header">
    <nav class="header-nav">
        <div class="nav-container">
            <!-- 로고 -->
            <a th:href="@{/}" class="nav-logo">Task App</a>

            <div class="right-container">
                <!-- 검색 폼 -->
                <form th:action="@{/}" method="get" class="search-form" role="search">
                    <input class="search-input" type="search" placeholder="검색" name="keyword">
                    <button class="search-button" type="submit">Search</button>
                </form>

                <!-- 비로그인 상태 버튼 -->
                <div class="buttons" sec:authorize="isAnonymous()">
                    <a href="/members/login" role="button">로그인</a>
                    <a href="/members/join" role="button">회원가입</a>
                </div>

                <!-- 로그인 상태 버튼 -->
                <div class="buttons" sec:authorize="isAuthenticated()">
                    <a th:text="${signedMember}" href="members/info">username</a>
                    <a href="/members/logout" role="button">로그아웃</a>
                </div>
            </div>

        </div>
    </nav>
</header>
</body>
</html>
