<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
    <link rel="stylesheet" href="/css/header-styles.css">
</head>
<body>
<header th:fragment="header">
    <nav class="header-nav">
        <div class="nav-container">
            <!-- 로고 -->
            <a sec:authorize="isAnonymous()" th:href="@{/}" class="nav-logo">Task App</a>
            <a sec:authorize="isAuthenticated()" th:href="@{/tasks}" class="nav-logo">Task App</a>

            <div class="right-container">
                <!-- 검색 폼 -->
                <form th:action="@{/}" method="get" class="search-form" role="search">
                    <input class="search-input" type="search" placeholder="검색" name="keyword">
                    <button class="search-button" type="submit">Search</button>
                </form>

                <!-- 비로그인 상태 버튼 -->
                <div class="buttons" sec:authorize="isAnonymous()">
                    <a href="/members/login" role="button" style="background: green;">로그인</a>
                    <a href="/members/join" role="button" style="background: dodgerblue;">회원가입</a>
                </div>

                <!-- 로그인 상태 버튼 -->
                <div class="buttons" sec:authorize="isAuthenticated()">
                    <a th:text="${signedMember}" th:href="@{/members/info}">username</a>
                    <!--Logout Post 요청 Form-->
                    <form id="logoutForm" th:action="@{/logout}" method="post" style="display: none"></form>
                    <a role="button" style="background: red;"
                       onclick="document.getElementById('logoutForm').submit(); return false;">로그아웃</a>
                </div>
            </div>

        </div>
    </nav>
</header>
</body>
</html>
