/* Footer 스타일 */
.footer-container {
    background: rgba(0,0,0,.5);
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}

.contact-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.phone-number {
    margin-left: 5px;
}