
/*login.html*/
html {
    height: 100%;
}

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
}

.login-box form a,
.login-box form button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    transition: .5s;
    margin-top: 10px;
    width: 100%;
    text-align: center;
    border-radius: 5px;
}

.login-box button {
    background: #444;
    border: none;
    cursor: pointer;
    color: #fff;
}

.login-box button:hover {
    background: #666;
}

.social-login-btn {
    background: #fff;
    border: 1px solid #ddd;
    color: #444;
}

.social-login-btn img {
    margin-right: 10px;
    height: 24px;
}

.social-login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.social-login-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px 20px; /* submit 버튼과 동일한 패딩 설정 */
    box-sizing: border-box;
    max-width: none; /* 최대 너비 제한 해제 */
}

.social-login-btn img {
    height: 40px; /* 이미지 크기 조정 */
}